<div layout="column" layout-align='center center' layout-padding ng-class="{'table-cell-bright': $ctrl.service.brightTheme == true}">
                    <span ng-class="{'change-metric-xl': $ctrl.mediaService.screenIsExtraLarge == true, 'change-metric-lg': $ctrl.mediaService.screenIsLarge == true, 'change-metric-md': $ctrl.mediaService.screenIsMedium == true, 'change-metric-sm': $ctrl.mediaService.screenIsSmall == true, 'change-metric-xs': $ctrl.mediaService.screenIsExtraSmall == true, 'gain': $ctrl.dataTransferService.changeDollar > 0, 'loss': $ctrl.dataTransferService.changeDollar < 0, 'small-ticker-dollar': screenIsExtraSmall == true, 'no-change': $ctrl.dataTransferService.combinedData.portfolio.equity-$ctrl.dataTransferService.combinedData.portfolio.adjusted_equity_previous_close == 0}"
        class="center change-metric animated flipInX">
        <md-icon><i class="material-icons" ng-class="{'loss-icon': $ctrl.dataTransferService.changeDollar < 0, 'loss': $ctrl.dataTransferService.changeDollar < 0, 'gain': $ctrl.dataTransferService.changeDollar > 0}">change_history</i></md-icon>
        ${{$ctrl.dataTransferService.changeDollar | number:2}} • {{$ctrl.dataTransferService.changePercent | number:2}}%
    </span>
    <div ng-class="{'small-screen-text': $ctrl.mediaService.screenIsExtraSmall == true, 'xl-text': $ctrl.mediaService.screenIsExtraLarge == true, 'lg-text': $ctrl.mediaService.screenIsLarge == true, 'md-text': $ctrl.mediaService.screenIsMedium == true, 'sm-text': $ctrl.mediaService.screenIsSmall == true, 'gain': $ctrl.dataTransferService.changeDollar > 0, 'loss': $ctrl.dataTransferService.changeDollar < 0,}"
        class="investment-title center animated flipInX" count-up options="$ctrl.countUpDollar" decimals="2" end-val="$ctrl.dataTransferService.accountEquity">${{$ctrl.dataTransferService.accountEquity | number:2}}</div>
    <div class='username'>{{$ctrl.dataTransferService.combinedData.user.first_name}} {{$ctrl.dataTransferService.combinedData.user.last_name}}</div>



</div>
<md-grid-tile-footer md-whiteframe="1" ng-class="{'footer-bright': $ctrl.service.brightTheme == true}">
    <h3>Account Value</h3>
</md-grid-tile-footer>