<div layout='row' layout-wrap flex-offset='10' flex-offset-lg='10' flex-offset-md='0' flex-offset-sm='0' flex-offset-xs='0'>

    <md-grid-list flex='90' flex-lg='90' flex-md='100' flex-sm='100' flex-xs='100' md-cols="12" md-gutter="1em" md-row-height="4:3" class='report-gutter'>
        <md-grid-tile md-rowspan="4" md-colspan="6" md-rowspan-md="4" md-colspan-md="12" md-rowspan-sm="5" md-colspan-sm="12" md-rowspan-xs="10" md-colspan-xs="12" ng-class="{'coin-card': service.brightTheme == false, 'coin-card-bright': service.brightTheme == true}">
                <account-value></account-value>
        </md-grid-tile>

        <md-grid-tile md-rowspan="5" md-colspan="6" md-rowspan-md="9" md-colspan-md="12" md-rowspan-sm="9" md-colspan-sm="12" md-rowspan-xs="12"
            md-colspan-xs="12" ng-class="{'coin-card': service.brightTheme == false, 'coin-card-bright': service.brightTheme == true}">
            <canvas id="doughnut" class="chart chart-line" chart-data="dataTransferService.lineData" chart-labels="dataTransferService.lineLabels"
                chart-series="dataTransferService.lineSeries" chart-options="dataTransferService.optionsLine" chart-colors="dataTransferService.colorsLine">
            </canvas>
            <md-grid-tile-footer md-whiteframe="1" ng-class="{'footer-bright': service.brightTheme == true}">
                <div layout='row'>
                    <span ng-class="{'coin-simple-name': service.brightTheme == false, 'coin-simple-name-bright': service.brightTheme == true}">
                        <h3 class='stock-title'>Portfolio</h3>
                    </span>
                    <div flex></div>

                    <md-button ng-click='dataTransferService.getPortfolioToday()' class="md-icon-button md-primary fab-correction" ng-click="getFundamentals(key, value)">1D
                            <md-tooltip md-direction="bottom">Today</md-tooltip>       
                    </md-button>

                    <md-button ng-click='dataTransferService.getPortfolioWeek()' class="md-icon-button md-primary fab-correction" ng-click="getFundamentals(key, value)">1W
                            <md-tooltip md-direction="bottom">This Week</md-tooltip>       
                    </md-button>
                    
                    <md-button ng-click='dataTransferService.getPortfolioYear()' class="md-icon-button md-primary fab-correction" ng-click="getFundamentals(key, value)">1Y
                            <md-tooltip md-direction="bottom">This Year</md-tooltip>       
                    </md-button>
                    <md-button ng-click='dataTransferService.getPortfolioAll()' class="md-icon-button md-primary fab-correction" ng-click="getFundamentals(key, value)">All
                            <md-tooltip md-direction="bottom">All</md-tooltip>       
                    </md-button>

                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        


        <md-grid-tile md-rowspan="4" md-colspan="3" md-rowspan-md="5" md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="12"
            md-colspan-xs="12" ng-class="{'coin-card': service.brightTheme == false, 'coin-card-bright': service.brightTheme == true}">
            <div layout='column' layout-align='center center' ng-hide='dataTransferService.currentGainer == undefined'>
                <div flex='100' class='gain change-metric' ng-class="{'change-metric-xl': mediaService.screenIsExtraLarge == true, 'change-metric-lg': mediaService.screenIsLarge == true, 'change-metric-md': mediaService.screenIsMedium == true, 'change-metric-sm': mediaService.screenIsSmall == true, 'change-metric-xs': mediaService.screenIsExtraSmall == true}">
                    <md-icon><i class="material-icons" ng-class="{'loss-icon': dataTransferService.currentGainer.dollar_gain < 0, 'loss': dataTransferService.currentGainer.dollar_gain < 0, 'gain': dataTransferService.currentGainer.dollar_gain > 0}">change_history</i></md-icon>
                    ${{dataTransferService.currentGainer.dollar_gain | number:2}} • {{dataTransferService.currentGainer.percent_gain | number:2}}%</div>

                <div class='gain change-title' ng-class="{'change-title-xl': mediaService.screenIsExtraLarge == true, 'change-title-lg': mediaService.screenIsLarge == true, 'change-title-md': mediaService.screenIsMedium == true, 'change-title-sm': mediaService.screenIsSmall == true, 'change-title-xs': mediaService.screenIsExtraSmall == true}">{{dataTransferService.currentGainer.company}}</div>
                <div class='gain win_lose_simple_name'>{{dataTransferService.currentGainer.instruments.simple_name}}</div>
                <!--Medium: {{mediaService.screenIsMedium}}
                Small: {{mediaService.screenIsSmall}}
                XSmall: {{mediaService.screenIsExtraSmall}}-->
            </div>
            <div layout='column' layout-align='center center' ng-if='dataTransferService.currentGainer == undefined'>

                <div class='loss win_lose_title' ng-class="{'win_lose_title-xl': mediaService.screenIsExtraLarge == true}">NONE</div>
                <div class='loss win_lose_simple_name'>No Winners Today</div>
                <!--Medium: {{mediaService.screenIsMedium}}
                Small: {{mediaService.screenIsSmall}}
                XSmall: {{mediaService.screenIsExtraSmall}}-->
            </div>

            <md-grid-tile-footer md-whiteframe="1" ng-class="{'footer-bright': service.brightTheme == true}">
                <h3>Winner</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile md-rowspan="4" md-colspan="3" md-rowspan-md="5" md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="12"
            md-colspan-xs="12" ng-class="{'coin-card': service.brightTheme == false, 'coin-card-bright': service.brightTheme == true}">
            <div layout='column' layout-align='center center' ng-hide='dataTransferService.currentLoser == undefined'>
                <div flex='100' class='loss change-metric' ng-class="{'change-metric-xl': mediaService.screenIsExtraLarge == true, 'change-metric-lg': mediaService.screenIsLarge == true, 'change-metric-md': mediaService.screenIsMedium == true, 'change-metric-sm': mediaService.screenIsSmall == true, 'change-metric-xs': mediaService.screenIsExtraSmall == true}">
                    <md-icon><i class="material-icons" ng-class="{'loss-icon': dataTransferService.currentLoser.dollar_loss < 0, 'loss': dataTransferService.currentLoser.dollar_loss < 0, 'gain': dataTransferService.currentLoser.dollar_loss > 0}">change_history</i></md-icon>
                    ${{dataTransferService.currentLoser.dollar_loss | number:2}} • {{dataTransferService.currentLoser.percent_loss | number:2}}%</div>

                <div class='loss change-title' ng-class="{'change-title-xl': mediaService.screenIsExtraLarge == true, 'change-title-lg': mediaService.screenIsLarge == true, 'change-title-md': mediaService.screenIsMedium == true, 'change-title-sm': mediaService.screenIsSmall == true, 'change-title-xs': mediaService.screenIsExtraSmall == true}">{{dataTransferService.currentLoser.company}}</div>
                <div class='loss win_lose_simple_name'>{{dataTransferService.currentLoser.instruments.simple_name}}</div>

            </div>
            <div layout='column' layout-align='center center' ng-if='dataTransferService.currentLoser == undefined'>

                <div class='gain win_lose_title' ng-class="{'win_lose_title-xl': mediaService.screenIsExtraLarge == true}">NONE</div>
                <div class='gain win_lose_simple_name'>No Losers Today</div>
                <!--Medium: {{mediaService.screenIsMedium}}
                    Small: {{mediaService.screenIsSmall}}
                    XSmall: {{mediaService.screenIsExtraSmall}}-->
            </div>

            <md-grid-tile-footer md-whiteframe="1" ng-class="{'footer-bright': service.brightTheme == true}">
                <h3>Loser</h3>
            </md-grid-tile-footer>
        </md-grid-tile>


        <md-grid-tile md-rowspan="3" md-colspan="2" md-rowspan-md="6" md-colspan-md="4" md-rowspan-sm="8" md-colspan-sm="4" md-rowspan-xs="16"
            md-colspan-xs="12" ng-class="{'coin-card': service.brightTheme == false, 'coin-card-bright': service.brightTheme == true}">
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataTransferService.pieData" chart-labels="dataTransferService.pielabels"
                chart-options="dataTransferService.optionsDoughnut" chart-colors="dataTransferService.colorsPie">
            </canvas>
            <md-grid-tile-footer md-whiteframe="1" ng-class="{'footer-bright': service.brightTheme == true}">
                <h3>Percentage Breakdown</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="2" md-rowspan-md="6" md-colspan-md="4" md-rowspan-sm="8" md-colspan-sm="4" md-rowspan-xs="16"
            md-colspan-xs="12" ng-class="{'coin-card': service.brightTheme == false, 'coin-card-bright': service.brightTheme == true}">
            <canvas id="radar" class="chart chart-radar" chart-data="dataTransferService.dataRadar" chart-labels="dataTransferService.pielabels"
                chart-options="dataTransferService.optionsRadar" chart-colors="dataTransferService.colorsRadar">
            </canvas>
            <md-grid-tile-footer md-whiteframe="1" ng-class="{'footer-bright': service.brightTheme == true}">
                <h3>Invested compared to Current Value</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="2" md-rowspan-md="6" md-colspan-md="4" md-rowspan-sm="8" md-colspan-sm="4" md-rowspan-xs="16"
            md-colspan-xs="12" ng-class="{'coin-card': service.brightTheme == false, 'coin-card-bright': service.brightTheme == true}">
            <canvas id="polar-area" class="chart chart-polar-area" chart-data="dataTransferService.polarData" chart-labels="dataTransferService.pielabels"
                chart-options="dataTransferService.optionsPolar" chart-colors="dataTransferService.colorsPie">
            </canvas>
            <md-grid-tile-footer md-whiteframe="1" ng-class="{'footer-bright': service.brightTheme == true}">
                <h3>Highest Gainers</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>




<!--<div layout='row' layout-xs='column' layout-wrap layout-padding>
    <md-card flex='40' ng-class="{'card': service.brightTheme == false, 'card-bright': service.brightTheme == true}">
        <md-card-title>
            <md-card-title-text ng-class="{'coin-simple-name': service.brightTheme == false, 'coin-simple-name-bright': service.brightTheme == true}">
                Portfolio Value
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column" layout-align='center center' layout-padding ng-class="{'table-cell-bright': service.brightTheme == true}">
                <div ng-class="{'small-screen-text': mediaService.screenIsExtraSmall == true, 'xl-text': mediaService.screenIsExtraLarge == true, 'lg-text': mediaService.screenIsLarge == true, 'md-text': mediaService.screenIsMedium == true, 'gain': dataTransferService.combinedData.portfolio.equity-dataTransferService.combinedData.portfolio.adjusted_equity_previous_close > 0, 'loss': dataTransferService.combinedData.portfolio.equity-dataTransferService.combinedData.portfolio.adjusted_equity_previous_close < 0,}" class="investment-title center animated flipInX" count-up options="countUpOptions" decimals="2" end-val="dataTransferService.accountEquity">${{dataTransferService.accountEquity | number:2}}</div>

                <span ng-class="{'lg-text-metric': mediaService.screenIsLarge == true, 'md-text-metric': mediaService.screenIsMedium == true, 'gain': dataTransferService.combinedData.portfolio.equity-dataTransferService.combinedData.portfolio.adjusted_equity_previous_close > 0, 'loss': dataTransferService.combinedData.portfolio.equity-dataTransferService.combinedData.portfolio.adjusted_equity_previous_close < 0, 'small-ticker-dollar': screenIsExtraSmall == true, 'no-change': dataTransferService.combinedData.portfolio.equity-dataTransferService.combinedData.portfolio.adjusted_equity_previous_close == 0}"
                    class="center coin-percert-portfolio animated flipInX">${{dataTransferService.combinedData.portfolio.equity-dataTransferService.combinedData.portfolio.adjusted_equity_previous_close | number:2}} | {{((dataTransferService.combinedData.portfolio.equity-dataTransferService.combinedData.portfolio.adjusted_equity_previous_close)/dataTransferService.combinedData.portfolio.equity)*100 | number:2}}%</span>

            </div>
        </md-card-content>
    </md-card>
    <md-card flex='20' ng-class="{'card': service.brightTheme == false, 'card-bright': service.brightTheme == true}">
        <md-card-title>
            <md-card-title-text ng-class="{'coin-simple-name': service.brightTheme == false, 'coin-simple-name-bright': service.brightTheme == true}">
                Percentage Breakdown
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="dataTransferService.pieData" chart-labels="dataTransferService.pielabels"  chart-options="dataTransferService.optionsDoughnut"  chart-colors="dataTransferService.colorsPie">
        </canvas> 
        </md-card-content>
    </md-card>
    <md-card flex='20' flex-xs='100' ng-class="{'card': service.brightTheme == false, 'card-bright': service.brightTheme == true}">
        <md-card-title>
            <md-card-title-text ng-class="{'coin-simple-name': service.brightTheme == false, 'coin-simple-name-bright': service.brightTheme == true}">
                Invested compared to Current Value
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        <canvas id="radar" class="chart chart-radar"
            chart-data="dataTransferService.dataRadar" chart-labels="dataTransferService.pielabels" chart-options="dataTransferService.optionsRadar" chart-colors="dataTransferService.colorsRadar">
        </canvas> 
        </md-card-content>
    </md-card>
    <md-card flex='20' flex-xs='100' ng-class="{'card': service.brightTheme == false, 'card-bright': service.brightTheme == true}">
        <md-card-title>
            <md-card-title-text ng-class="{'coin-simple-name': service.brightTheme == false, 'coin-simple-name-bright': service.brightTheme == true}">
                Highest Gainers
            </md-card-title-text>
        </md-card-title>
            <md-card-content>
            <canvas id="polar-area" class="chart chart-polar-area"
            chart-data="dataTransferService.polarData" chart-labels="dataTransferService.pielabels" chart-options="dataTransferService.optionsPolar" chart-colors="dataTransferService.colorsPie">
            </canvas>         
        </md-card-content>
    </md-card>


</div>-->