<div layout='row' layout-padding hide-md hide-sm >
    <div flex='20' flex-offset-gt-md='15'>
        <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="dataTransferService.pieData" chart-labels="dataTransferService.pielabels"  chart-options="dataTransferService.optionsDoughnut"  chart-colors="dataTransferService.colorsPie">
        </canvas> 
    </div>
    <div flex='20' flex-offset-gt-md='5'>
        <canvas id="radar" class="chart chart-radar"
            chart-data="dataTransferService.dataRadar" chart-labels="dataTransferService.pielabels" chart-options="dataTransferService.optionsRadar" chart-colors="dataTransferService.colorsRadar">
        </canvas> 
    </div>
    <div flex='20' flex-offset-gt-md='5'>
        <canvas id="polar-area" class="chart chart-polar-area"
        chart-data="dataTransferService.polarData" chart-labels="dataTransferService.pielabels" chart-options="dataTransferService.optionsPolar" chart-colors="dataTransferService.colorsPie">
        </canvas> 
    </div>

</div>
