<div  class="market-ticker md-whiteframe-1dp" ng-class="{'market-ticker-bright': service.brightTheme == true}" layout="row" layout-align="start center" >
    <div layout="row" layout-align="center end">
        <md-button class="md-fab md-mini show-nav-button fab-color" ng-class="{'nav-button-icon-bright': service.brightTheme == true}" ui-sref="report" aria-label="More">
          <md-icon ng-class="{'nav-button-icon-bright': service.brightTheme == false}"  class="material-icons">arrow_back</md-icon>
        </md-button>
    </div> 
</div>
