<div layout="column" layout-align="center center" layout-margin layout-padding layout-fill>
        <img hide-xs class="logo-splash" src="app/content/coin-logo-white.svg">
        <div class="app-title-splash animated flipInX" ng-class="{'app-title-splash-bright': service.brightTheme == true}">Coin</div>
        <div class="app-subtitle-splash animated flipInX" ng-class="{'app-title-splash-bright': service.brightTheme == true}">For Robinhood</div>
        
        <!--<md-button class="md-raised bt-margin" analytics-on="click" analytics-event="ReturningToApp" ng-click='dialogService.showLoginDialog()'>Begin</md-button>-->
    </div>




